<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Settings</title>
    <style>
        .center {
            text-align: center;
        }
        .end {
            text-align: end;
        }
        .justify {
            text-align: justify;
        }
        .left {
            text-align: left;
        }
        .right {
            text-align: right;
        }
        
        img.fixed {
            position: fixed;
            top: 20px;
            right: 15px;
        }
    </style>
</head>
<body>
    <form action="/user_setting" method="post" class="center">
        <!-- Form gönderme işlemi -->
        <label for="user_job">Mesleğiniz</label><br>
        <input type="text" id="user_job" name="user_job" placeholder="Mesleğinizi giriniz" required><br>

        <label for="user_city">Yaşadığınız Şehir</label><br>
        <input type="text" id="user_city" name="user_city" placeholder="Şehir giriniz" required><br>

        <label for="user_phone">Telefon Numaranız</label><br>
        <input type="number" id="user_phone" name="user_phone" placeholder="Telefon numaranızı giriniz" required><br>

        <label for="user_mail">Mail Adresiniz</label><br>
        <input type="text" id="user_mail" name="user_mail" placeholder="Mail giriniz" required><br>

        <input type="submit" value="GÖNDER"><br><br>

        <p class="center">
            {% if login == True %}
                {% for user in user_info %}
                    Telefon Numarası: <strong>{{user["phone"]}}</strong><br>
                    Mail Adresi: <strong>{{user["mail"]}}</strong><br>
                    Yaşadığınız Şehir: <strong>{{user["city"]}}</strong><br>
                    Mesleğiniz: <strong>{{user["job"]}}</strong><br>
                {% endfor %}
            {% endif %}
        </p><br>

        <strong>Kiraladığınız Kitaplar:</strong>
        <form action="/refound" method="post">
            {% for book in user_book %}
                {% if book != None %}
                    <li>{{book["title"]}}<input type="checkbox" name="refound" id="refound_{{ loop.index }}"></li>
                    <button type="submit" for="refound_{{ loop.index }}">Kitabı İade Et</button>
                {% endif %}
            {% endfor %}
        </form>
    </form>

    <a href="{{url_for('home')}}">Ana Sayfaya Dön</a><br>
</body>
</html>