<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitap Seçme</title>
</head>
<body>
    <h1>Kitap Seçme</h1>
    
    <form method="post" action="/rent_books">
        <ul>
            {% for kitap in books %}
                <li>
                    {{ kitap['title'] }} <br>- {{ kitap['pages'] }} <br>- {{ kitap['rez'] }} sayfa
                    <input type="checkbox" id="book_{{ loop.index }}" name="book" value="{{ kitap['title'] }}">
                    <label for="book_{{ loop.index }}">Kitabı Seç</label>
                    <button type="submit">Seçilen Kitapları Gönder</button>
                </li>
            {% endfor %}
        </ul>
    </form>

    
</body>
</html>