{%extends"lyout.html"%}






{%block user%}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Giriş yap/ Kaydol
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{url_for('login')}}" class="btn btn-success">Giriş Yap</a></li>
                        <a href="{{url_for('register')}}" class="btn btn-secondary">Kayıt ol</a></li>                  
                    </ul>
                </li>
{%endblock user%}


