{%extends"lyout.html"%}

{%block user%}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Giriş yap/ Kaydol
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{url_for('login')}}" class="btn btn-success">Giriş Yap</a></li>
                        <a href="{{url_for('register')}}" class="btn btn-secondary">Kayıt ol</a></li>
                        
                    </ul>
                </li>
                        
{%endblock user%}

    {% block content %}
    <div class="container">
        <div class="form-container">
            <h1 class="center">Kütüphane Yeni Kullanıcı Kayıt</h1>
            <form action="/register" method="POST">
                <label for="new_user_pasaport">TC No:</label>
                
                <input type="tel" id="new_user_pasaport" name="new_user_pasaport" class="form-control" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="11" pattern="\d{11}" title="Sadece 11 hane rakam giriniz" required>



                <label for="new_user_name">Kullanıcı Adınız:</label>
                <input type="text" name="new_user_name" class="form-control" required>

                <label for="new_user_surname">Soyadınız:</label>
                <input type="text" name="new_user_surname" class="form-control" required>

                <label for="new_user_pass">Şifreniz:</label>
                <input type="password" name="new_user_pass" class="form-control" required>

                <button type="submit" class="btn btn-primary"><strong>CREATE</strong></button>

                <a href="{{url_for('login')}}">Already have an account? Login here</a>

                {% if user == True %}
                    <p>Üyelik başarıyla oluşturuldu {{okey}}</p>
                {% elif user == False  %}
                    <p class="error-message">Bu bilgilere ait kullanıcı bulunmaktadır.</p>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}