{%extends"lyout.html"%}

{% block title %}LİB_APP{% endblock %}


{% block content %}
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
            text-align: center;
        }

        h1 {
            color: #2202db;
        }

        .form-container {
            width: 80%;
            margin: 20px auto;
            border: 2px solid #2202db;
            padding: 15px;
            border-radius: 10px;
            background-color: #fff;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            border-bottom: 1px solid #ccc;
            margin-bottom: 10px;
            padding-bottom: 10px;
        }

        label {
            margin-left: 10px;
        }

        button {
            background-color: #2202db;
            color: #fff;
            border: none;
            padding: 8px 15px;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>

    <div class="form-container">
        <form method="post" action="/rent_books">
            <h3>Kiralık Kitaplar</h3>
            <ul>
                {% for kitap in rentbook %}
                    {% if kitap["rent_time"] == 0  %}
                        <li>
                            <strong>Kitabın İsmi:</strong> {{ kitap['title'] }} <br>
                            <strong>Kitabın Sayfası:</strong> {{ kitap['pages'] }} <br>
                            <strong>Kitabın Detayları:</strong> {{ kitap['link'] }} <br>
                            <input type="checkbox" id="rent_book_{{ loop.index }}" name="rent_book" value="{{ kitap['title'] }}">
                            <label for="rent_book_{{ loop.index }}">Kiralacak Kitabı Seç</label>
                            <button type="submit">Kitabı Kirala</button>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </form>
    </div>

    <div class="form-container">
        <form method="post" action="rez_books">
            <h3>Rezervasyonlu Kitaplar</h3>
            <ul>
                {% for kitap in rezbook %}
                    {% if kitap["refound"] =="False" and kitap["rez_user"] == None  %}
                        <li>
                            <strong>Kitabın İsmi:</strong> {{ kitap['title'] }} <br>
                            <strong>Kitabın Sayfası:</strong> {{ kitap['pages'] }} <br>
                            <strong>Kitabın Detayları:</strong> {{ kitap['link'] }} <br>
                            <strong>Kiralama Bitiş Tarihi:</strong> {{ kitap['end_time_rent'] }} <br>
                            <input type="submit" id="reserve_book_{{ loop.index }}" name="reserve_book" value="{{ kitap['title'] }}">
                            <label for="reserve_book">Rezerve Edilecek Kitabı Seç</label>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </form>
    </div>
{% endblock %}