{%extends"lyout.html"%}


{% block user %}
    {% if users == True %}
        
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                KULLANICI İŞLEMLERİ
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{url_for('property_user')}}" class="btn btn-info">Kulannıcı Bilgileri</a></li>
                <a href="{{url_for('rent_books')}}" class="btn btn-warning">Kitap Kiralama</a></li>
            </ul>
        </li>
       
    {% elif users == None %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Giriş yap/ Kaydol
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{url_for('login')}}" class="btn btn-success">Giriş Yap</a></li>
                <a href="{{url_for('register')}}" class="btn btn-secondary">Kayıt ol</a></li>
            </ul>
        </li>
    {% endif %}
{% endblock user %}

{%block logout%}
    {% if users == True %}
        <li class="nav-item">
            <a href="{{url_for('logout')}}" class="btn btn-danger">Logout</a>
        </li>
        {% endif %}
{%endblock logout%}
    



{% block content %}
<style>
    .center{
        text-align: center;
    }
</style>
<div class="container mt-4">
    <h1 class="center">Kütüphanede bulunan Kitap Listesi</h1>

    {% if books %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Kitap Adı</th>
                    <th scope="col">Kitap Dili</th>
                    <th scope="col">Kitap Sayfası</th>
                    <th scope="col">Kitap Yazarı</th>
                    <th scope="col">kitap detayı</th>
                </tr>
            </thead>
            <tbody>
                {% for show in books %}
                    <tr>
                        <td>{{ show["title"] }}</td>
                        <td>{{ show["language"] }}</td>
                        <td>{{ show["pages"] }}</td>
                        <td>{{ show["author"] }}</td>
                        <td><a href="{{ show['link'] }}" target="_blank">Detay</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Henüz kitap bulunmamaktadır.</p>
    {% endif %}
</div>
{% endblock content %}